*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  min-height: 100vh;
  justify-content: flex-start;
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color:#001b44;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 12 px;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: center;
}

.answer{
    background-color:#001b44;;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 12 px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 80%;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    float: center;
  }

#startbox {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin-left: 20px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #questionbox {
    display: none;
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  #answer1 {
    display:list-item;
  }
  #answer2 {
    display:list-item;
  }
  #answer3 {
    display:list-item;
  }
  #answer4 {
    display:list-item;
  }

  #quiz-complete {
    display: none;
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  #high-score {
    display: none;
    background-color: #fff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    overflow: visible;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

input:hover {
  background-color: #e8eaed;
}

.work {
  margin-left: 20px;
  padding: 20px;
  clear: both;
  display: inline-block;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:darkblue;
  color: #e8eaed;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  /* width: fit-content; */
  /* height: fit-content; */
  overflow: visible;
  position: absolute;
  /* top: 40%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.work div {
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 1160px) {
  #startbox{
    width: 90%;
    height: fit-content;
    top: 40%;
    left: 10px;
    transform: translate(0%, 0%);
    border-radius: 8px;
    margin: 2%;
    bottom: 2%;
    }
  
  #questionbox {
    width: 90%;
    height: fit-content;
    top: 40%;
    left: 10px;
    transform: translate(0%, 0%);
    border-radius: 8px;
    margin: 2%;
    bottom: 2%;
  }

  #quiz-complete {
    width: 90%;
    height: fit-content;
    top: 40%;
    left: 10px;
    transform: translate(0%, 0%);
    border-radius: 8px;
    margin: 2%;
    bottom: 2%;
  }

  #high-score {
    width: 90%;
    height: fit-content;
    top: 40%;
    left: 10px;
    transform: translate(0%, 0%);
    border-radius: 8px;
    margin: 2%;
    bottom: 2%;
  }
  .work {
    width: 90%;
    height: fit-content;
    top: 2%;
    }
}

@media screen and (max-height: 570px) {
  #startbox{
    top: 60%;
    }

  #questionbox {
    top: 60%;
  }

  #quiz-complete {
    top: 60%;
  }

  #high-score {
    top: 60%;
  }
}
